*{
  box-sizing: border-box
}
body{
  font-family: 'Montserrat-dark', 'Ubuntu', sans-serif;
  margin: 0;
}
.navbar{
  font-size: 1.5rem;
  width: 90%;
  padding: 3.5rem 0 3.5rem 0;
}
.navbar-brand{
  font-size: 2rem;
}
nav li{
  padding: 0 25px;
}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{
  font-family: 'Montserrat';
  line-height: 1.5;
  font-size: 3.5rem;
}
#title{
  background-color: #ff4c68;
  color: #ffff;
}
button{
  margin: 10px 20px;
}

.dog-phone{
  width: 60%;
  transform: rotate(15deg);
  position: absolute;
}
@media (max-width: 990px) {
  #title{
    text-align: center;
  }
  .dog-phone{
    position: static;
    transform: rotate(0deg);
  }
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.slides{
  text-align: center;
}
h3{
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
}
.icon{
  color: #ef8172;
  margin-bottom: 16px;
}
.icon:hover{
  color: red;
  transform: scale(1.5);
}
p{
  color: #8f8f8f;
  font-size: 1rem;
}

/* Testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.carousel-inner{
  padding: 5% 15%;
}
h2{
  font-size: 3rem;
  font-family: inherit;
  line-height: 1.5;
}
.testimonial-img{
  border-radius: 70%;
  width: 15%;
  margin: 20px;
}
#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 15px;
}
.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing{
  padding: 7% 15%;
  text-align: center;
}

#cta{
  padding: 7% 13%;
  background-color: #ff4c68;
  text-align: center;
}
.cta-h3{
  font-family: inherit;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 20px;
}
#footer{
  padding: 7% 15%;
  background-color: #fff;
  text-align: center;
}
.sn-contacts{
  margin: 10px 10px;
}
